{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="single-page-title single-page-title-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About us</h2>
            </div>
        </div>
    </div>
</section>
<!-- .page-title -->

<section class="about-text">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ about.title }}</h2>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{ about.text }}</p>
            </div>
        </div>
    </div>

</section>
<!-- .about-text-->

<section class="team-section">
        <div class="container">
            <div class="section-title text-center">
                <h2>Meet The Team</h2>
            </div>
        </div>
        <div class="team-member">
            <div class="container">
                <div class="row">
                    {% for team in teams %}
                    <div class="col-sm-4">
                        <figure class="thumbnail">
                            <a href="#"><img src="{% static 'img/img-team-1.png' %}" class="img-responsive" alt="Image"></a>
                            <figcaption class="caption text-center">
                                <h3>{{ team.name }}</h3>
                                <p>{{ team.description }}</p>
                                <hr>
                                <ul class="social-links">
                                    <li><a href="{{ team.facebook }}"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="{{ team.twitter }}"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="{{ team.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div><!-- /.col-sm-4 -->
                    {% endfor %}
                </div><!-- .row -->
            </div> <!-- .container -->
        </div>
</section><!--.team-section-->

{% endblock %}
