{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="single-page-title single-page-title-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About us</h2>
            </div>
        </div>
    </div>
</section>
<!-- .page-title -->

<section class="about-text">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>We help you to get appear on first page of serach engines</h2>
        </div>
    </div>
        <div class="row">
            <div class="col-md-6">
                <p>Appropriately benchmark bricks-and-clicks e-business before parallel communities. Completely
                    synergize exceptional outsourcing with principle-centered platforms. Credibly unleash synergistic
                    internal or "organic" sources without functionalized technology. Objectively brand granular human
                    capital without goal-oriented e-business. Competently predominate multifunctional web-readiness via
                    state of the art strategic theme areas.</p>
            </div>
            <div class="col-md-6">
                <p>Completely pontificate timely metrics rather than accurate growth strategies. Seamlessly impact
                    premium communities whereas real-time networks. Professionally transform high-payoff collaboration
                    and idea-sharing before resource maximizing supply chains. Energistically evisculate timely
                    manufactured products for resource-leveling ROI. Assertively create client-focused vortals whereas
                    functional potentialities.</p>
            </div>
        </div>
    </div>

</section>
<!-- .about-text-->

<section class="about-text-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Our Principles</h3>
                <img src="{% static 'img/img-about-1.png' %}" alt="">
                <p>Competently supply maintainable information after resource-leveling intellectual capital. Synergistically simplify process-centric internal or "organic" sources via next-generation mindshare.</p>
            </div>
            <div class="col-sm-4">
                <h3>Our Standards</h3>
                <img src="{% static 'img/img-about-2.png' %}" alt="">
                <p>Competently supply maintainable information after resource-leveling intellectual capital. Synergistically simplify process-centric internal or "organic" sources via next-generation mindshare.</p>
            </div>
            <div class="col-sm-4">
                <h3>Our Capabilities</h3>
                <img src="{% static 'img/img-about-3.png' %}" alt="">
                <p>Competently supply maintainable information after resource-leveling intellectual capital. Synergistically simplify process-centric internal or "organic" sources via next-generation mindshare.</p>
            </div>
        </div>
    </div>

</section>
<!-- .skills -->

<section class="team-section">
        <div class="container">
            <div class="section-title text-center">
                <h2>Meet The Team</h2>
            </div>
        </div>   
        <div class="team-member">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <figure class="thumbnail">
                            <a href="#"><img src="{% static 'img/img-team-1.png' %}" class="img-responsive" alt="Image"></a>
                            <figcaption class="caption text-center">
                                <h3>Jakob Döring</h3>
                                <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla.</p>
                                <hr>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div><!-- /.col-sm-4 -->

                    <div class="col-sm-4">
                        <figure class="thumbnail">
                            <a href="#"><img src="{% static 'img/img-team-2.png' %}" class="img-responsive" alt="Image"></a>
                            <figcaption class="caption text-center">
                                <h3>Till Böhm</h3>
                                <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla.</p>
                                <hr>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div><!-- /.col-sm-4 -->

                    <div class="col-sm-4">
                        <figure class="thumbnail">
                            <a href="#"><img src="{% static 'img/img-team-3.png' %}" class="img-responsive" alt="Image"></a>
                            <figcaption class="caption text-center">
                                <h3>Malte Schmidt</h3>
                                <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla.</p>
                                <hr>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div><!-- .col-sm-4 -->
                </div><!-- .row -->
            </div> <!-- .container -->
        </div>
</section><!--.team-section-->

{% endblock %}
