{% extends 'index.html' %}
{% load static %}
{% block body %}
<!-- Header -->
<div id="header-wrapper">
    <header id="header" class="container">
        <div class="row">
            <div class="12u">

                <!-- Logo -->
                <img style=="padding-top:20px" width="180px" src="{% static 'img/tma_logo.png' %}" alt="" />

                <!-- Nav -->
                    <nav id="nav">
                        <a href="/home">Homepage</a>
                        <a href="/contact">Contact</a>
                        <a href="/signup">Merchant Signup</a>
                    </nav>

            </div>
        </div>
    </header>
</div>

<section class="contact-section">
<div class="container">
    <div class="section-title text-center">
        <h2>If you have any questions or comments, or would just like to say hello,<br> please feel free to contact our friendly team</h2>
    </div>

    <div class="contact-form mt-50">
        <form action="" id="inquiry" method="POST">
            {% csrf_token %}
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="nameTwo" class="sr-only">Name</label>
                {{ form.name }}
              </div>

              <div class="form-group">
                <label for="nameTwo" class="sr-only">Phone</label>
                {{ form.phone }}
              </div>

              <div class="form-group">
                <label for="emailTwo" class="sr-only">Email</label>
                {{ form.email }}
              </div>

              <div class="form-group">
                <label for="emailTwo" class="sr-only">Email</label>
                <input type="email" class="form-control" required="" id="emailCheck" placeholder="Re-Enter Email Address">
              </div>
            </div> <!-- col-md-4 -->

            <div class="col-md-8">
              <div class="form-group">
                <label for="messageTwo" class="sr-only">Message</label>
                {{ form.message }}
              </div>
            </div> <!-- col-md-8 -->
          </div><!-- /.row-->

          <button type="submit" class="btn btn-primary btn-lg pull-right">Send Message</button>
        </form>
    </div> <!-- contact-form -->
</div>
</section> <!-- contact-section -->

{% endblock %}

{% block js %}
<script src='{% static 'js/app.js' %}'></script>
{% endblock %}
