{% extends 'index.html' %}
{% load static %}
{% block body %}
<!-- Header -->
<div id="header-wrapper">
    <header id="header" class="container">
        <div class="row">
            <div class="12u">
                <!-- Logo -->
                <!-- <h1><a href="#" id="logo">TMA</a></h1> -->
                <img style=="padding-top:20px" width="180px" src="{% static 'img/tma_logo.png' %}" alt="" />
                <!-- Nav -->
                <nav id="nav">
                    <a href="/home">Home</a>
                    <a href="/contact">Contact</a>
                    <a href="/signup">Merchant Signup</a>
                </nav>
            </div>
        </div>
    </header>
    <div id="banner">
        <div class="container">
            <div class="row">
                <div class="6u 12u(mobile)">
                    <!-- Banner Copy -->
                    <p>{{ body.title }}</p>
                    <a href="/signup" class="button-big">Signup Now!</a>
                </div>
                <div class="6u 12u(mobile)">
                    <!-- Banner Image -->
                    <a href="#" class="bordered-feature-image"><img src="images/banner.jpg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features -->
<div id="features-wrapper">
    <div id="features">
        <div class="container">
            <div class="row">
                {% for service in services %}
                <div class="3u 12u(mobile)">
                    <!-- Feature #1 -->
                    <section>
                        <a href="#" class="bordered-feature-image"><img src="images/pic01.jpg" alt="" /></a>
                        <h2>{{ service.title }}</h2>
                        <p>{{ service.Description }}</p>
                    </section>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div id="content-wrapper">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="4u 12u(mobile)">
                    <!-- Box #1 -->
                    <section>
                        <header>
                            <h2>Who We Are</h2>
                            <h3>A subheading about who we are</h3>
                        </header>
                        <a href="#" class="feature-image"><img src="images/pic05.jpg" alt="" /></a>
                        <p>{{ about.text }}</p>
                    </section>
                </div>
                <div class="4u 12u(mobile)">
                    <!-- Box #2 -->
                    <section>
                        <header>
                            <h2>What We Do</h2>
                            <h3>A subheading about what we do</h3>
                        </header>
                        <ul class="check-list">
                            {% for service in services %}
                            <li>{{ service.title }}</li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
                <div class="4u 12u(mobile)">
                    <!-- Box #3 -->
                    <section>
                        <header>
                            <h2>What People Are Saying</h2>
                            <h3>And a final subheading about our clients</h3>
                        </header>
                        <ul class="quote-list">
                            {% for testimony in testimonies %}
                            <li>
                                <img src="{{ testimony.testimony_img.url }}" alt="" />
                                <p>"{{ testimony.text }}"</p>
                                <span>{{ testimony.name }}, {{ testimony.title }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 20px">
    <section class="client-logo ptb-100">
        <div class="container">
            <div class="row">
                {% for client in clients %}
                <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                    <a href="{{ client.link }}"><img src="{{ client.client_img.url }}" alt="Image"></a>
                </div>
                {% endfor %}
            </div>
        </div>
        <!--end of .container -->
    </section>
    <!-- /.client-logo -->
</div>
{% endblock %}
